@media (min-width: 38rem) {
    main {
        position: relative;
        display: inline-block;
    }

    .table-container {
        position: absolute;
        background: var(--primary-color);
        color: var(--accent-color-2);
        border-radius: 6px;
        padding: 0 1rem;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        opacity: 0.9;
    }

    caption {
        background: var(--accent-color-1);
        font-weight: bold;
        padding: 0.4rem 0.8rem;
        border-radius: 4px;
        margin-bottom: 0.5rem;
    }

    .data-table {
        top: 10%;
        left: 5%;
    }

    .weather-table {
        bottom: 10%;
        right: 5%;
    }
}